@model IEnumerable<InventoryMangementSystemEntities.Models.Category>

@{
    ViewData["Title"] = "CategoriesList";
}


<div class="page-wrapper">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Category list</h4>
                <h6>View/Search product Category</h6>
            </div>
            <div class="page-btn">
                <a asp-action="Create" class="btn btn-added">
                    <img src="~/img/icons/plus.svg" class="me-1" alt="img">Add Category
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                      
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>

               

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Category name</th>
                                <th>Description</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
							{
                            <tr>
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">
                                    
                                    <a href="javascript:void(0);">@item.CategoryName</a>
                                </td>
                                <td><textarea disabled>@item.CategoryDescription</textarea></td>
                                <td>@item.CreatedBy</td>
                                <td>
                                    <a href="@Url.Action("Details", "Categories", new { id = item.Id })" class="me-3">
                                        <img src="~/img/icons/eye.svg" alt="Details" />
                                    </a>
                                    <a href="@Url.Action("Edit", "Categories", new { id = item.Id })" class="me-3">
                                        <img src="~/img/icons/edit.svg" alt="img">
                                    </a>

                                    <a href="@Url.Action("Delete", "Categories", new { id = item.Id })">
                                        <img src="~/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

