@model IEnumerable<InventoryMangementSystemEntities.Models.Product>

@{
    ViewData["Title"] = "Products List";
}
<div class="page-wrapper">
        <div class="page-header">
            <div class="page-title">
                <h4>Product List</h4>
                <h6>Manage your products</h6>
            </div>
            <div class="page-btn">
                <a href="addproduct.html" class="btn btn-added"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add New Product</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="~/img/icons/filter.svg" alt="img">
                                <span><img src="~/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                   
                </div>

                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select name ="ProductName"class="select">
                                            <option value="">Choose Product</option>
                                            @foreach (var product in Model)
                                            {
                                                <option value="@product.ProductName">@product.ProductName</option>
                                            }
                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                        <select name="category" class="select">
                                            <option value="">Choose Category</option>
                                            @foreach (var category in Model.Select(p => p.category.CategoryName).Distinct())
                                            {
                                                <option value="@category">@category</option>
                                            }
                                        </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                        <select name="supplier" class="select">
                                            <option value="">Choose Supplier</option>
                                            @foreach (var supplier in Model.Select(p => p.supplier.SupplierName).Distinct())
                                            {
                                                <option value="@supplier">@supplier</option>
                                            }
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12 ">
                                        <div class="form-group">
                                        <input type="number" min="0" name="minPrice" placeholder="Min Price" class="form-control" />

                                        </div>
                                    </div>
                                <div class="col-lg col-sm-6 col-12 ">
                                    <div class="form-group">
                                        <input type="number" name="maxPrice" placeholder="Max Price" class="form-control" />

                                    </div>
                                </div>
                                    <div class="col-lg-1 col-sm-6 col-12">
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-filters ms-auto">
                                            <img src="~/img/icons/search-whites.svg" alt="img">
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Category </th>
                                <th>Supplier</th>
                                <th>price</th>
                                <th>MinQTy</th>
                                <th>Qty</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="productimgname">
                                        <a href="javascript:void(0);" class="product-img">
                                            @if (item.ProductImage == null || item.ProductImage == "")
                                            {
                                                <img src="~/img/notfound.jpg" alt="img">
                                            }
                                            else
                                            {
                                                <img src="@item.ProductImage" alt="img">
                                            }
                                        </a>
                                        <a href="javascript:void(0);">@item.ProductName</a>
                                    </td>
                                    <td>@item.category.CategoryName</td>
                                    <td>@item.supplier.SupplierName</td>
                                    <td>@item.Price</td>
                                    <td>@item.LowStockThreshold</td>
                                    <td>@item.StockQuantity</td>
                                <td>

                                    <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="me-3">
                                        <img src="~/img/icons/eye.svg" alt="Details" />
                                    </a>

                                    <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="me-3">
                                        <img src="~/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a href="@Url.Action("Delete", "Products", new { id = item.Id })">
                                        <img src="~/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>

                                </tr>
                            
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
