@model InventoryMangementSystemEntities.Models.Supplier

@{
    ViewData["Title"] = "Supplier-Details";
}

<div class="page-wrapper">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
            <h4>Supplier Details</h4>
            <h6>Full details of a Supplier</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                            <li>
                                <h4>Name</h4>
                                <h6>@Model.SupplierName</h6>
                            </li>
                                <li>
                                <h4>Email</h4>
                                    <h6>@Model.Email</h6>
                                </li>
                            <li>
                                <h4>PhoneNumber</h4>
                                <h6>@Model.PhoneNumber</h6>
                            </li>

                            <li>
                                <h4>Address</h4>
                                <h6>@Model.Address</h6>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="col-lg-12">
            <a href="@Url.Action("Edit", "Suppliers", new { id = Model.Id })" class="btn btn-primary">
Edit            </a>  
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            
        </div>
        </div>


</div>

</div>